.Layout{
    background-color: rgb(232, 238, 241);
  }
  .sidebar_col{
    background-color: white;
    border-radius: 5px;
  }
.sidebar_logo{
    background-color: yellow;
}
.verticalLine_sidebar {
    width: 7px !important; 
    height: 40px !important; 
    
}
.vertical_left_sidebar{
    transform: rotate(30deg);
    background: rgb(38, 182, 226);
    margin-left: 14px;
    margin-top: 2px;
}
.verticalLine_right_sidebar {
    background: rgb(240, 61, 144);
    transform: rotate(150deg);
    margin-top: 2px;
}


.logo_char_sidebar{
    font-size: 17px;
    font-weight: bold;
    color: rgba(243, 243, 71, 0.801);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 19px !important;
   margin-top: -22px;
    
}


.logo_name_sidebar{
    
    font-size: 14px !important;
    margin-top: 11px !important;
   
}
.sidebar_logo_outer{
    
    width:53px;
    height: 53px;
   margin-left: -20px;
   border-radius: 50%;
   border: 1px dotted gray;
  
}
.sidebar_log_name{
    margin-top: 12px;
    margin-left: 8px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.dashboard_menus{
    margin-left: -15px;
    /* background-color: blue; */
}

.dashboard_menuText{
    margin-left: 25px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgb(192, 179, 179);
   
}
    
.teammembers{
    margin-left: 13px;
  }
  .icon_size{
    font-size: 23px;
    margin-top: 8px;
    margin-left: 4px;
    padding: 3px;
  }
  
  .dashboard_singlemenu:hover   {
    /* border: 1px solid black; */
    background-color:rgb(245, 218, 218);
    cursor: pointer;
    border-radius: 5px;
    
    
  }
  .dashboard_singlemenu:hover .icon_size ,.dashboard_singlemenu:hover .dashboard_menuText {
    color: brown;
  }

  
  
   
  .anchor_link{
    text-decoration: none;
  }
  
  
  .help{
    border: 1px solid rgb(219, 212, 212);
   width: 150px;
   height: 120px;
   margin-top: 22px;
   padding: 10px;
  margin-left: -7px;
 border-radius: 5px;
  }
  .help_icon{
    color: rgb(189, 181, 181);
    font-size: 20px;

  }
  .help_icon_outer{
    text-align: center;
  }
  .help_heading{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }
  .help_para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
  }
  .help_button{
    height: 17px;
    width: 80px;
    border: 1px solid black;
    text-align: center;
    font-size: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 19px;
    margin-top: -10px;
  }


